body{
	background-color:black;
	overflow-x:hidden;
}


#nav{
	height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	
    width: 100vw;	
}

#nav img{
	width:7vw;
	z-index:1;
	margin-top:0 !important;
}
#nav .stripe{
	background-color: white;
    height: 20%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Feed{
	width:20vw !important;
	height:100vh !important;
	
}

#Feed div{
	height:100%;
}

#Feed iframe{
	height:100% !important;
}
#Main-Content{ 
	width:95vw;
	margin-left:2.5vw;
	margin-right:2.5vw;
	padding-top:3vh;
	display:flex;
	justify-content:space-between;
}
#Main-Content p{
	width:50vw;
	
}
#best-player{
	color:white;
}

#navMenu{
	display:grid;
	grid-template-columns:5vw 15vw 5vw 15vw 5vw 10vw 5vw 15vw 5vw 15vw 5vw ;
	grid-template-rows:1.5vh 3vh 1.5vh 3vh 1.5vh 3vh 1.5vh;
    width: 100vw;
}
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

#navMenu a{
	color: black !important;
    text-decoration: none;
    font-family: 'Seaweed Script', cursive;
    font-size: 2.5vw;
    text-shadow: 1px 1px red;
	text-align:center;
	grid-row-start:3;
	
}
#navMenu a:hover{
	color:red !important;
}
#navMenu a img{
	margin-top:0vh !important;
}
#Articles{
	overflow-y:scroll;	
	overflow-x:hidden;
	height:80vh;
	width:40vw;
	text-align:center;
	padding-right: 4vw;
}
#Articles::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.Article{
	width: 40vw;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	height:40vh;
	padding:2vw;
	color:white;
}

#right-side-content{
	width:20vw;
	text-align:center;
	color:white;
	padding-top:15vh;
	height:100vh;
}
#counter{
	height:15vh;
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	justify-content:center;
	font-size:.6vw;
}
#currently{
	width:10vw;
}

#count{
	width:20vw;
	color:red !important;
}

#spaces{
	margin-top:3vw;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	text-align:center;
}
#spaces img{
	width:25%;
	
}

#spaces h2{
	color: white;
	width:100vw;
}

#spaces p{
	color:white;
	width:40vw;
}

























