#appearances{
	width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
	padding-top:5vh;
}


.appearance{
	width: 30vw;
    height: 30vw;
    overflow: hidden;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
}

.appearance img{
	width:50%;
}

.appearance:hover{
	background-color:red;
}

h1{
	padding-top:2vh;
	color:white;
	text-align:center;
}